@font-face {
    font-family: 'SAO UI';
    src: url('/SAOUI-Regular.woff2') format('woff2'),
        url('/SAOUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body {
  margin: 0;    
  padding: 0;     
  min-height: 100vh ;
  background: linear-gradient(to bottom, lightblue ,darkblue, black);
  font-family: 'SAO UI';

}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding:4px;

}
    
.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}


.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div4 {

    display: flex;           
    justify-content: center; 
    align-items: center;
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 13px;
    background: linear-gradient(45deg, white ,orange, lightgray,gray,black)
}

#carte1,#carte2,#carte3 {
  width: 800px;
  height: 800px;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  background: black;
}   

.rectgris {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 15px;         
    background: linear-gradient(45deg, orange, gray);
    overflow: auto;
}
.rectgris h1 {
    margin: 5px 0;
}

.buttonReset{
    
    text-align: center;
    padding: 0% 15% ;
    border-radius: 15px;
    background-color: rgb(69, 75, 243);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
}

#categorie_toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-categorie{
    padding: 0rem 1rem;
    border-radius: 15px;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;

}
.btn-categorie.active{
    background-color: lightgray;
}

