@font-face {
    font-family: 'SAO UI';
    src: url('/SAOMAP/font/SAOUI-Regular.woff2') format('woff2'),
        url('/SAOMAP/font/SAOUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body {
  margin: 0;    
  padding: 0;     
  height: 100%;    
  max-height: 100vh;
  font-family: 'SAO UI';
  /* background: linear-gradient(to bottom, black ,darkgray, gray, orange,darkorange); */
  box-sizing: border-box;
  

}

#parent1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;            
  background-image: url(/SAOMAP/image/castle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nom, .linkStart { 
  text-align: center; 
  padding: 0;
}
.nom{
   

}

#logo{
  width: 80vw;
   margin-top: 10vh;
}     

.linkStart{
  font-size: 7vw;
  font-weight: bold;
  color:lightblue;
  margin-top: 25vh;
}
  
.wave span {
  display: inline-block;
  transform: translateY(0);
  animation: jump 2s ease infinite;
}

@keyframes jump {
  0% { transform: translateY(0); }
  25% { transform: translateY(-20px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}



.parent2{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.7407vh;
    background-image: url(/SAOMAP/image/paysage1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
    

.div2 {
    grid-column: span 3 / span 3;
    justify-items: center;
  }

#titleCP{
  margin: 0;
  padding: 1.8519vh;
  font-size: 6.5vw;
  color: aqua;
}
.div3 {
    grid-column-start: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#divnomguilde{
  display: flex;
  flex-direction: column;
}

.div4 {
  display: grid;
    grid-column: span 3 / span 3;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: center; 
    align-content: center;
    place-items: center;
    gap:4vh;
}

.btn-palier{
display: flex;
  font-family: 'SAO UI';
  font-size:2vw;
  width: 40vw;
  height: 8vh;
  padding: 0;
  gap:0.9259vh;
  background: white;
  border: 0px solid white;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
}
.btn-palier:hover {
  transform: scale(1.1); 
}
.p1{
    position: absolute;
  margin-left: 4.7037vh;
  border-radius: 50%;
  height: 6.5556vh;;
  width: 6.5556vh;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  background-color: black;

}
.p2{
    font-size: 2.5vw;
    margin: 0 auto;
}
.div5 {
    grid-row: span 4 / span 4;
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    place-items: center;
    gap:0.2315vh;
}
#listeCatePalier{
  margin: 0.2315vh;
  padding: 0.2315vh;
  font-size: 1.5vw;
  text-decoration: underline;
  color: aqua;
  
}

.btn-liste{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  opacity: 0.8;
  border-radius: 25px;
  border: 0.0926vh solid black;
  width: 15vw;
  height: 3vh;
}
.btn-liste.active{
  background:white;
  opacity: 0.4;
}
.btn-liste:hover {
  transform: scale(1.1); 
}
.p1liste{
    position: absolute;
  margin-left: 2.8519vh;
  border-radius: 50%;
  height: 2.9vh;;
  width: 2.9vh;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5208vw;
  background-color: black;

}
.p2liste{
    font-size: 1vw;
    margin: 0 auto;
}

.div6 {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;
    color:rgba(0,0,0,0.8);
    height: 78vh;
    overflow-y: auto;
    border-radius: 15px;
    background: rgba(255,255,255,0.7);
    
}

.div6:hover {
  overflow-y: auto;
}

/* Style de scrollbar (Chrome / Edge / Safari) */
.div6::-webkit-scrollbar {
  width: 8px;
}

.div6::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.div6::-webkit-scrollbar-track {
  background: transparent;
}