body{
    background-color: black;
} 

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 4;
}

.div4 {

    display: flex;           
    justify-content: center; 
    align-items: center;
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 15px;
    border: 1px solid rgb(148, 0, 0);
    background-color: rgb(143, 137, 137);
}

#carte {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  background: black;
}   

.rectgris {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;               
    width: 100%;                
    border-radius: 15px;         
    border: 1px solid rgb(148, 0, 0); 
    background-color: rgb(143, 137, 137);
}

.buttonReset{
    
    text-align: center;
    border-radius: 15px;
    border: 5px black;
    background-color: orange;
}

#categorie_toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
