/* @font-face {
    font-family: 'SAO UI';
    src: url('/SAOMAP/SAOUI-Regular.woff2') format('woff2'),
        url('/SAOMAP/SAOUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: white;
}
.btn-palier{
display: flex;
  font-family: 'SAO UI';
  font-size:2;
  width: 40vw;
  height: 8vh;
  padding: 0;
  gap:10px;
  background: white;
  border: 0px solid white;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
#p1{
    position: absolute;
  left: 0;
  margin-left: 75px;
  border-radius: 50%;
  height: 60px;;
  width: 60px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: black;

}
#p2{
    font-size: 2rem;
    margin: 0 auto;
}


.btn-palier::before,
.btn-palier::after {
  content: "→"; 
  position: absolute;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s;
  color: black;
}

.btn-palier::before {
  content: "←";          
  left: -30px;           
}

.btn-palier::after {
  content: "→";          
  right: -30px;          
}


.btn-palier:hover::before,
.btn-palier:hover::after {
  opacity: 1;
  
}




 */
