@font-face {
    font-family: 'SAO UI';
    src: url('/SAOMAP/SAOUI-Regular.woff2') format('woff2'),
        url('/SAOMAP/SAOUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body {
  margin: 0;    
  padding: 0;     
  height: 100%;    
  min-height: 100vh;
  font-family: 'SAO UI';
  background: radial-gradient(circle, orange 0%, red 45%,black 50%);
  box-sizing: border-box;

}

#parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap:5vh
}
.btn{
  background: linear-gradient(90deg,black,darkred,red,darkorange, darkorange, red,darkred,black);
  border:1px solid black;
  border-radius: 25px;
  height:10vh;
  width: 45vw;
  font-family: 'SAO UI';
  font-size: 4rem;
  
}