@font-face {
    font-family: 'SAO UI';
    src: url('/SAOMAP/font/SAOUI-Regular.woff2') format('woff2'),
        url('/SAOMAP/font/SAOUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html, body {
  margin: 0;    
  padding: 0;     
  height: 100%;    
  min-height: 100vh;
  font-family: 'SAO UI';
  background-image: url(/SAOMAP/image/paysage2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

}

#parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap:5vh
}
.btn{
  background: white;
  opacity: 0.8;
  border:1px solid black;
  border-radius: 25px;
  height:10vh;
  width: 45vw;
  font-family: 'SAO UI';
  font-size: 4rem;
}
.btn:hover{
  transform: scale(1.1);
}